.chat_main
  .main-header
    .main-header1
      .chat-name1
        test
      .chat-name2
        Membar masa
    .main-header2
      edit
  .messages
    .main-message
      .js-massages
        masa
      .upper-message
        2020/7/4土
    .lower-message
      おはよう！
  .form
    .input-box
      %input{type: "text", class: "input-box__text", placeholder: "type a message"}
      %label{class: "input-box__image"}
        = icon('fa','image')
        %input{type: "file", class: "input-box__image__file"}
    %input{type: "submit", class: "submit-btn"}




