.side_bar
  .side_header
    .side-box
      %p.side-box-user-name
        masa
        %ul.side-box-menu
          %li.side-box-menu-newgroup
            =icon('fa','edit')
          %li.side-box-menu-edituser
            =icon('fa','cog')
  .groups 
    .groups__name
      techcamp
    .groups__message
      まだメッセージがありません
    


